<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sealivanov/IdeaProjects/LigaTestsSelenide">
        <classes>
            <class name="at.Tests">
                <methods>
                    <include name="testTransferBetweenBlocks"/>
                    <include name="testOutLearning"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>